.bio {
  position: relative;
  max-width: 300/16*1rem;
  line-height: 1.2;
  img {
    border: 0.125em solid $gold;
    border-radius: 50%;
  }
}

.bio__titlecard {
  text-align: center;
  margin: 1rem;
}
.bio__name {
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
}
.bio__title {
  font-size: 1.25rem;
  margin: 0;
}
.bio__status {
  margin: 0.5rem;
  line-height: 1.4;
  pre {
    font-size: 0.75rem;
  }
}
