// _variables.scss

// Typography
$body-font-stack: 'Proxima Nova', 'proxima-nova', sans-serif;

// colors
$yellow: #F3F752;
$black: #332532;
$white: #fff;
$gold: #A49A87;
$purple: #8F668C;
$purple-light: #D1ADCF;
$purple-dark: #746273;
