form {
  max-width: 480/16*1rem;
  margin: 1rem auto;
  button[type=submit] {
    float: right;
  }
}
input {
  display: block;
  margin: 1rem 0;
  padding: 0.5rem;
  background: transparent;
  border: none;
  border-bottom: 0.125rem solid $gray;
  width: 100%;
  border-radius: 0;
  &:focus {
    background-color: $yellow-light;
    border-bottom-color: $black;
    outline: none;
  }
}
.input-wrapper,
.textarea-wrapper {
  position: relative;
  &:after {
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
  }
  &.is-valid:after {
    content: "\f058"; // checkmark
    color: $green;
  }
  &.is-invalid:after {
    content: "\f057"; // x
    color: $red;
  }
}

.textarea-wrapper:after {
  top: 1.5em;
  transform: none;
}


input[name="_gotcha"] {
  display: none;
}

textarea {
  margin: 1rem 0;
  width: 100%;
  background: transparent;
  text-align: left;
  padding: 0.5rem;
  padding-right: 2em;
  min-height: 240/16*1rem;
  border: 0.125rem solid $gray;
}

button {
  display: inline-block;
  background: transparent;
  padding: 0.5rem 1rem;
  border: 0.125rem solid $gray;
  text-transform: uppercase;
  color: $gray;
  cursor: not-allowed;
  &:hover {
    background-color: $white;
    color: $gray;
  }
}

form.is-valid button[type=submit] {
  border-color: $green;
  background-color: $white;
  color: $green;
  cursor: pointer;
  &:hover {
    background-color: $green;
    color: $white;
  }
}
