.page-section {
  padding: 3em;
  @include clearfix;
  .page-section__inner {
    @include container;
  }
  @media (max-width: 480/16*1rem) {
    padding: 1em;
  }
}

.section-heading {
  color: $black;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75rem;
  &:after {
    content: '';
    width: 1em;
    display: block;
    border-bottom: 1px solid $black;
    margin: auto;
  }
}
